.generator{
    padding-block: 100px;
    background-color: #14213d;
    display: grid;
    place-items: center;
}

.flex__group{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.main__box{
    width: 300px;
    height: 300px;
    border: 3px dashed #ffb703;
    margin-block-end: 30px;
    position: relative;
}

.a__description{
    position: absolute;
    display: grid;
    place-items: center;
    width: 68%;
    height: 4px;
    background-color: hsl(346, 84%, 61%, 1);
    top: -40px;
}
.a__description span{
    color: #ef476f;
    font-size: 20px;
    position: relative;
    top: -30px;
}

.form__a{
    background-color: hsl(346, 84%, 61%, 1);
}

.b__description{
    position: absolute;
    display: grid;
    place-items: center;
    width: 28%;
    height: 4px;
    background-color: #c8b6ff;
    top: -30px;
    right: 0;
}
.form__b{
    background-color: #c8b6ff;
}

.b__description span{
    color: #c8b6ff;
    font-size: 20px;
    position: relative;
    top: 0px;
}

.e__description{
    position: absolute;
    display: grid;
    place-items: center;
    height: 68%;
    width: 4px;
    background-color: #70e000;
    top: 0;
    left: -40px;
}
.form__e{
    background-color: #70e000;
}
.e__description span{
    color:  #70e000;
    font-size: 20px;
    position: relative;
    left: -30px;
}
.h__description{
    position: absolute;
    display: grid;
    place-items: center;
    height: 28%;
    width: 4px;
    background-color: #00a6fb;
    bottom: 0;
    left: -30px;
}
.form__h{
    background-color: #00a6fb;
}
.h__description span{
    color:  #00a6fb;
    font-size: 20px;
    position: relative;
    left: 10px;
}
.d__description{
    position: absolute;
    display: grid;
    place-items: center;
    width: 68%;
    height: 4px;
    background-color: #d64045;
    bottom: -40px;
    left: 0;
}
.form__d{
    background-color: #d64045;
}
.d__description span{
    color:  #d64045;
    font-size: 20px;
    position: relative;
    bottom: -10px;
}
.c__description{
    position: absolute;
    display: grid;
    place-items: center;
    width: 28%;
    height: 4px;
    background-color: #540d6e;
    bottom: -30px;
    right: 0;
}
.form__c{
    background-color: #540d6e;
}
.c__description span{
    color:  #540d6e;
    font-size: 20px;
    position: relative;
    bottom: 25px;
}
.f__description{
    position: absolute;
    display: grid;
    place-items: center;
    height: 68%;
    width: 4px;
    background-color: #2ec4b6;
    top: 0;
    right: -40px;
}
.form__f{
    background-color: #2ec4b6;
}
.f__description span{
    color:  #2ec4b6;
    font-size: 20px;
    position: relative;
    left: 10px;
}
.g__description{
    position: absolute;
    display: grid;
    place-items: center;
    height: 28%;
    width: 4px;
    background-color: #ff6700;
    bottom: 0;
    right: -30px;
}
.form__g{
    background-color: #ff6700;
}
.g__description span{
    color:  #ff6700;
    font-size: 20px;
    position: relative;
    left: -15px;
}
.inner__box{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(346deg 83% 51%) 50%,
  hsl(55deg 100% 50%) 100%
);
}


.code__box{
    margin-block-start: 100px;
    max-width: 300px;
}

.code__roule{
    border: 3px solid #da4167;
    border-bottom: none;
    padding: 20px;
    display: block;
    width: 100%;
    margin-inline-end: 10px;
    font-size: 20px;
    color: #fffcff;
}

.code__valum{
    display: inline-block;
    background-color: #fffcff;
    padding: 20px;
    font-size: 18px;
}

.code__valum span:nth-child(1){
    color: #ef476f;
}
.code__valum span:nth-child(2){
    color: #c8b6ff;
}
.code__valum span:nth-child(3){
    color:  #540d6e;
}
.code__valum span:nth-child(4){
    color:  #d64045;
}
.code__valum span:nth-child(5){
    color:  #70e000;
}
.code__valum span:nth-child(6){
    color:  #2ec4b6;
}
.code__valum span:nth-child(7){
    color:  #ff6700;
}
.code__valum span:nth-child(8){
    color:  #00a6fb;
}